{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
  <h4>
    Welcome to PunttiPate!
  </h4>

  {% else %}
  <h4>
    Welcome to PunttiPate! Register to add your own lifts.
  </h4>
{% endif %}
    <h5>
    Here are all the best lifts and lifters.
  </h5>



<br><br>
<table>
    <h4>
        Benchpress
    </h4>
    <tr>
      <th>Weight&nbsp; &nbsp;</th>
      <th>Date&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</th>
        <th>Lifter</th>
    </tr>
    {% for bench in benches %}
    <tr>
      <td>{{ bench.weight }}</td>
      <td>{{ bench.date }}</td>
        <td>{{ bench.name }}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <table>
    <h4>
        Squat
    </h4>
    <tr>
      <th>Weight&nbsp; &nbsp;</th>
      <th>Date&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</th>
        <th>Lifter</th>
    </tr>
    {% for squat in squats %}
    <tr>
      <td>{{ squat.weight }}</td>
      <td>{{ squat.date }}</td>
        <td>{{ squat.name }}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <table>
    <h4>
        Deadlift
    </h4>
    <tr>
      <th>Weight&nbsp; &nbsp;</th>
      <th>Date&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</th>
        <th>Lifter</th>
    </tr>
    {% for dead in deads %}
    <tr>
      <td>{{ dead.weight }}</td>
      <td>{{ dead.date }}</td>
        <td>{{ dead.name }}</td>
    </tr>
    {% endfor %}
    </table>



{% endblock %}
