{% extends "layout.html" %}

{% block body %}
{{ error }}
<h4>
    Register
</h4>
<br>
<form method="POST" action="{{ url_for('auth_signup') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
      </tr>
      {% for error in form.name.errors %}
			<li>{{ error }}</li>
		{% endfor %}
    <tr>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    {% for error in form.username.errors %}
			<li>{{ error }}</li>
		{% endfor %}
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    {% for error in form.password.errors %}
			<li>{{ error }}</li>
		{% endfor %}
    <tr>
      <td colspan="2">
	<input type="submit" value="Signup"/>
      </td>
    </tr>
    </table>
</form>
{% endblock %}

