{% extends "layout.html" %}

{% block body %}
{{ error }}
<h4>
    Register
</h4>
<br>
<form method="POST" action="{{ url_for('auth_signup') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
        </td>
        <td>
          {{ form.name(class_="form-control") }}
        </td>
      </tr>
      {% for error in form.name.errors %}
			<li>{{ error }}</li>
		{% endfor %}

    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username(class_="form-control") }}
      </td>
    </tr>
    {% for error in form.username.errors %}
			<li>{{ error }}</li>
		{% endfor %}

    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password(class_="form-control") }}
      </td>
    </tr>
    {% for error in form.password.errors %}
			<li>{{ error }}</li>
		{% endfor %}
      <tr>
      <td>
	{{ form.confirm.label }}
      </td>
      <td>
	{{ form.confirm(class_="form-control") }}
      </td>
    </tr>
    {% for error in form.confirm.errors %}
			<li>{{ error }}</li>
		{% endfor %}

    <tr>
        <td></td>
      <td colspan="2">
	<input type="submit" class="btn btn-info" value="Signup"/>
      </td>
    </tr>
    </table>
</form>
{% endblock %}

