{% extends "layout.html" %}

{% block body %}
  <h2>
    {{current_user.name}}s Lifts
  </h2>
    <p>
     The best public lift in each category will show on the front page for everyone to see.
    </p>


  <br>
  <table class="table">
    <h4>
        Benchpress
    </h4>
    <tr>
      <th>Weight</th>
      <th>Date</th>
      <th>Public</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    {% for bench in benches %}
    <tr>
      <td>{{ bench.weight }}</td>
      <td>{{ bench.date }}</td>
      <td>
        <form method="POST" action="{{ url_for('bench_change', lift_id=bench.id, lift_type='bench') }}">
	      <input type="submit" class="btn btn-info" value="{{ bench.public }}">
	    </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('bench_delete', lift_id=bench.id, lift_type='bench') }}">
	      <input type="submit" class="btn btn-danger" value="X"/>
	    </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('bench_view', lift_id=bench.id, lift_type='bench') }}">
	      <input type="submit" class="btn btn-secondary" value=">">
	    </form>
      </td>
    </tr>
    {% endfor %}
    </table>

    <table class="table">
    <h4>
        Squat
    </h4>
    <tr>
      <th>Weight</th>
      <th>Date</th>
      <th>Public</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    {% for squat in squats %}
    <tr>
      <td>{{ squat.weight }}</td>
      <td>{{ squat.date }}</td>
      <td>
        <form method="POST" action="{{ url_for('bench_change', lift_id=squat.id, lift_type='squat') }}">
	      <input type="submit" class="btn btn-info" value="{{ squat.public }}">
	    </form>
      </td>

      <td>
        <form method="POST" action="{{ url_for('bench_delete', lift_id=squat.id, lift_type='squat') }}">
	      <input type="submit" class="btn btn-danger" value="X"/>
	    </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('bench_view', lift_id=squat.id, lift_type='squat') }}">
	      <input type="submit" class="btn btn-secondary" value=">">
	    </form>
      </td>
    </tr>
    {% endfor %}
    </table>

    <table class="table">
    <h4>
        Deadlift
    </h4>
    <tr>
      <th>Weight</th>
      <th>Date</th>
      <th>Public</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    {% for dead in deads %}
    <tr>
      <td>{{ dead.weight }}</td>
      <td>{{ dead.date }}</td>
      <td>
        <form method="POST" action="{{ url_for('bench_change', lift_id=dead.id, lift_type='dead') }}">
	      <input type="submit" class="btn btn-info" value="{{ dead.public }}">
	    </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('bench_delete', lift_id=dead.id, lift_type='dead') }}">
	      <input type="submit" class="btn btn-danger" value="X"/>
	    </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('bench_view', lift_id=dead.id, lift_type='dead') }}">
	      <input type="submit" class="btn btn-secondary" value=">">
	    </form>
      </td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
