  {% extends "layout.html" %}

	{% block body %}
	<h2>
		Add a new Max
	</h2>
	<br>
	<br>
	<br>
	<h5>
		Benchpress
	</h5>
  <form method="POST" action="{{ url_for('bench_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.weight.label }}
	</td>
	<td>
	  {{ form.weight }}
	</td>
	<td>
	  <ul>
	    {% for error in form.weight.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.date.label }}
	</td>
	<td>
	  {{ form.date }}
	</td>
	<td>
	  <ul>
	    {% for error in form.date.errors %}
	    <li>Insert date in form: dd.mm.yyyy</li>
	    {% endfor %}
	  </ul>
	</td>
	<td>
	</td>
      </tr>
      <tr>
				<td></td>
	<td>
		
		<input type="submit" value="Add!"/>
	</td>
      </tr>
    </table>
  </form>

  {% endblock %}
