  {% extends "layout.html" %}

	{% block body %}
  	<h2>
		Add a new Max Lift
	</h2>
  	<p>
		Public lifts can be shown on the front page.
	</p>
	<br>
  	<h5>
		Select one:
	</h5>

  <form method="POST" action="{{ url_for('bench_create') }}">
    <table>
		{% for lift in form.lifts %}
    		<tr>
        		<td>{{ lift }}</td>
				<td>{{ lift.label }}</td>
    		</tr>
		{% endfor %}
		<ul>
		{% for error in form.lifts.errors %}
			<li style="color:red;">{{ error }}</li>
		{% endfor %}
		</ul>
	<td><br>
	  {{ form.weight.label }}
	</td>
	<td><br>
	  {{ form.weight(class_="form-control") }}
	</td>
	<td>
	  <ul>
	    {% for error in form.weight.errors %}
	    <li style="color:red;">{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>

      <tr>
	<td>
	  {{ form.date.label }}
	</td>
	<td>
	  {{ form.date(class_="form-control", type="date") }}
	</td>
	<td>
	  <ul>
	    {% for error in form.date.errors %}
	    <li style="color:red;"> Insert a date </li>
	    {% endfor %}
	  </ul>
	  </tr>
	</td>
		<td>
	  		{{ form.public.label }}
		</td>
		<td>
	  		{{ form.public }}
		</td>
	<td>
	</td>

      <tr>
				<td></td>
	<td>
		
		<input type="submit" class="btn btn-primary" value="Add"/>
	</td>
      </tr>
    </table>
  </form>


	<br>
  <h3>
		Join a new Gym
  </h3>

  <p style="color:red;"> {{ errormessage }} </p>

	<table>
  	<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Name</th>
		<th></th>
	</tr>
  	{% for gym in gyms %}
  	<tr>
			<td></td>
			<td>{{ gym.name }}</td>
			<td>
				
		<form method="POST" action="{{ url_for('gym_add', gym_id=gym.id) }}">
				<input type="submit" class="btn btn-primary" value="Join"/>
		</form>
			
			</td>
		
	</tr>
  	{% endfor %}
	<tr>
	  <form method="POST" action="{{ url_for('gym_create') }}">

			<td>{{ form2.name.label }}</td>
			<td>{{ form2.name(class_="form-control") }}</td>
		  	<ul>{% for error in form2.name.errors %}
	    			<li style="color:red;"> {{error}} </li>
	    		{% endfor %}
			</ul>
			  <td><input type="submit" class="btn btn-primary" value="Join"/></td>

	  </form>
	</tr>
</table>

  {% endblock %}
