  {% extends "layout.html" %}

	{% block body %}
	<br>
  	<h2>
		Add a new Max Lift
	</h2>
	<br>
  	<h5>
		Select one:
	</h5>

  <form method="POST" action="{{ url_for('bench_create') }}">
    <table>
		{% for lift in form.lifts %}
    		<tr>
        		<td>{{ lift }}</td>
				<td>{{ lift.label }}</td>
    		</tr>
		{% endfor %}
		{% for error in form.lifts.errors %}
			<li>{{ error }}</li>
		{% endfor %}
	<td><br>
	  {{ form.weight.label }}
	</td>
	<td><br>
	  {{ form.weight }}
	</td>
	<td>
	  <ul>
	    {% for error in form.weight.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>

      <tr>
	<td>
	  {{ form.date.label }}
	</td>
	<td>
	  {{ form.date }}
	</td>
	<td>
	  <ul>
	    {% for error in form.date.errors %}
	    <li>Insert date in form: dd.mm.yyyy</li>
	    {% endfor %}
	  </ul>
	  </tr>
	</td>
		<td>
	  		{{ form.public.label }}
		</td>
		<td>
	  		{{ form.public }}
		</td>
	<td>
	</td>

      <tr>
				<td></td>
	<td><br>
		
		<input type="submit" value="Add"/>
	</td>
      </tr>
    </table>
  </form>

  {% endblock %}
